<div class="container-fluid">
<p id="notice"><%= notice %></p>

<h2 class="well"> Search Mentors</h2>

  <%= form_tag("/mentors", method: "get") do %>
    <%= label_tag(:taq_query_match_any, "Search for these tags (Comma Separated):") %>
    <%= text_field_tag(:tag_query_match_any) %>
    <%= submit_tag("Search for Mentors with any of these tags", class: "btn btn-default") %>
  <% end %>
  <br>
  <%= form_tag("/mentors", method: "get") do %>
    <%= label_tag(:taq_query_match_identical, "Search for these tags (Comma Separated):") %>
    <%= text_field_tag(:tag_query_match_identical)%>
    <%= submit_tag("Search for Mentors having identical and same number of tags",  class: "btn btn-default") %>
  <% end %>




<br>

<h2 class="well">List of Mentors</h2>
<div class="alert">
  <%= @notice %> <span class="badge"><%= @total %></span>
</div>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Name</th>
       <th>Tags</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mentors.each do |mentor| %>
      <tr>
        <td><%= mentor.name %></td>
        <td><%= raw mentor.tag_list.map {|t| link_to t, tag_path(t)}.join(', ') %></td>
        <td><%= link_to 'Show', mentor, class: "btn btn-default" %></td>
        <td><%= link_to 'Edit', edit_mentor_path(mentor) , class: "btn btn-default"%></td>
        <td><%= link_to 'Destroy', mentor, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'All Mentors', mentors_path, class: "btn btn-default" %>

<div id="tag_cloud">

  <h2 class="well"> Tag Cloud </h2>
  <% tag_cloud Mentor.tag_counts, %w[s m l] do |tag, css_class| %>
    <%= link_to tag.name, tag_path(tag.name), class: css_class + " btn btn-default" %>
  <% end %>
  <br/><br/><br/><br/>
</div>


</div>
