<!DOCTYPE html>
<html>
<head>
  <title>TestTagApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	
	<nav class="navbar navbar-inverse navbar-fixed-top">
	    <div class="navbar-header">
	      <a class="navbar-brand" href="/">TAGS-A-PLENTY</a>
	    </div>
	    <ul class="nav navbar-nav">
	      <li class="active"><a href="/">Home</a></li>
	      <li><%= link_to 'All Mentors', mentors_path %></li> 
	     <li><%= link_to 'New Mentor', new_mentor_path %></li>
	    </ul>
	</nav>

<%= yield %>

</body>
</html>
